@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Nunito', sans-serif;

  --color-blue-ribbon-50: #eef6ff;
  --color-blue-ribbon-100: #d9eaff;
  --color-blue-ribbon-200: #bcdbff;
  --color-blue-ribbon-300: #8ec6ff;
  --color-blue-ribbon-400: #58a6ff;
  --color-blue-ribbon-500: #3284ff;
  --color-blue-ribbon-600: #1e66f5;
  --color-blue-ribbon-700: #144ee1;
  --color-blue-ribbon-800: #1740b6;
  --color-blue-ribbon-900: #193a8f;
  --color-blue-ribbon-950: #142557;
}
